#fmNavbar > div {
    max-width: 100%;
}

/*Logo container*/

.navbarLogoContainer {
    width: 100%;
    margin-left: 0%;
    float: left;
    box-sizing: border-box;
    padding-left: calc(var(--nextui--rowGap) / 2);
    padding-right: calc(var(--nextui--rowGap) / 2);
}

.navbarLogoContainer > div {
    flex-wrap: nowrap;
    --nextui--rowGap: calc(0 * var(--nextui-space-lg));
    margin-left: calc(0 * var(--nextui-space-lg) / 2);
    margin-right: calc(0 * var(--nextui-space-lg) / 2);
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.navbarLogoContainer > div > a{
    transition: var(--nextui-transitions-link);
    color: var(--nextui-colors-link);
    display: inline-flex;
    align-items: baseline;
    line-height: inherit;
    text-decoration: none;
    background-image: inherit;
    background-color: inherit;
    background-clip: inherit;
    -webkit-text-fill-color: inherit;
}