.fmSection {
    min-height: 80vh;
    margin: 20px 0 20px 0;
}

.fmSection .fmTextContainer {
    text-align: center;
}

.fmSection .fmTextContainer button {
    margin: auto;
}

.fmSectionInner {
    margin: 20px 0;
}